.validation-success {
  opacity: 1;
  display: block;
  position: absolute;
  right: -7.2px;
  bottom: -7.2px;
  font-size: 28.8px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 36px;
  color: #62b14c;
  transition: all ease-out 0.32s;
}

.validation-success:after {
  display: block;
  content: '\e013';
  font-family: 'Glyphicons Halflings';
}

.validation-success.ng-hide {
  transition-delay: 0s;
  transition: all ease-out 0.12s;
  opacity: 0;
  transform: rotate(360deg);
}

.ng-hide-remove li {
  opacity: 0;
}

.validation {
  color: #fff;
  margin: 0;
  position: relative;
  font-size: 14px;
  overflow: visible;
  background: #c00640;
}

.validation ul {
  display: block;
  overflow: hidden;
}

.validation li {
  display: block;
  line-height: 1;
  background: #c00640;
  position: absolute;
  right: -4px;
  top: -10px;
  text-align: center;
  font-weight: bold;
  padding: 2px 10px;
  color: #fff;
  transform: rotate(0deg);
  transition: all ease-out 0.2s;
  opacity: 1;
  transition-delay: 0s;
}

.validation li.ng-enter {
  opacity: 0;
  transform: rotate(20deg);
  right: -20px;
}

.validation li.ng-leave {
  transition: all ease-in 0s;
  opacity: 0;
  outline: 30px solid red;
}

*:focus + .validation li {
  background-color: #63bff8 !important;
}

/*input.ng-touched.ng-invalid:not(.ng-valid), textarea.ng-touched.ng-invalid:not(.ng-valid), select.ng-touched.ng-invalid:not(.ng-valid) {*/
/*border-color: #c00640;*/
/*}*/
/**/
/*input:focus, input:focus.ng-touched.ng-invalid:not(.ng-valid), textarea:focus, textarea:focus.ng-touched.ng-invalid:not(.ng-valid), select:focus, select:focus.ng-touched.ng-invalid:not(.ng-valid) {*/
/*border-color: #63bff8;*/
/*}*/
/**/
/*input.ng-valid-required.ng-valid:not(.ng-invalid), textarea.ng-valid-required.ng-valid:not(.ng-invalid), select.ng-valid-required.ng-valid:not(.ng-invalid) {*/
/*border-color: #62b14c;*/
/*}*/

/*form[class*="ng-invalid"] button.btn {*/
/*background: #63bff8;*/
/*transition: none;*/
/*}*/

/*form button.btn {*/
/*transition: all ease-in 0.5s;*/
/*background: #62b14c;*/
/*}*/

.text_center {
  text-align: center;
}

/*.standard_button {*/
/*padding: 5px 30px;*/
/*border: 1px solid #006600;*/
/*border-radius: 10px;*/
/*background-color: #006600;*/
/*color: #ffffff;*/
/*}*/

.standard_button:hover {
  background-color: #ffffff;
  color: #006600;
}

.success {
  background-color: rgba(0, 102, 0, 0.5);
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
}

.json_value, .margin_top {
  margin-top: 5px;
}

.nav_bar_element {
  border: 1px solid;
  text-align: center;
}

.nav_bar_element_active {
  background-color: #006600;
}

.socket_error, .color_red {
  color: #cc0000;
}

.socket_active, .color_green {
  color: #006600;
}

.socket_pending, .color_yellow {
  color: #ffc520;
}

.color_blue {
  color: #0040D0;
}

a {
  cursor: pointer;
}

.word_break {
  word-wrap: break-word;
  word-break: break-all;
}

.chat_overlay_absolute {
  position: absolute;
  width: 350px;
  right: 10px;
  bottom: 20px;
  min-height: 275px;
}

.user_list_absolute {
  position: absolute;
  width: 350px;
  right: 10px;
  bottom: 300px;
  min-height: 250px;
}

/*.user_list_absolute > div*/

.chat_inner_absolute {
  height: 100%;
  width: 100%;
  position: absolute;
}

/** erweitert bootstrap panel-footer **/
.chat_footer_absolute {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.chat_body_absolute {
  height: 180px;
  overflow-y: auto;
}

/*begin of css card animation*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  position: absolute;
}

/*flip the pane when hovered*/
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
/*transform: rotateY(180deg);*/
/*}*/

/*flip the pane when class is assigned*/
.flipped-container .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 65px;
  height: 90px;
}

.mini-container, .mini-front, .mini-back {
  width: 33px !important;
}

.mini-container, .mini-front, .mini-back, .mini-height {
  height: 45px !important;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.card_hovered {
  -moz-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  -ms-transform: scale(2.5);
}

/*div.stack-container {*/
/*position: relative;*/
/*}*/
/*div.stack-container card {*/
/*position: absolute;*/
/*padding: 3px;*/
/*display: inline-block;*/
/*-webkit-transition: all 0.5s ease-in-out;*/
/*-moz-transition: all 0.5s ease-in-out;*/
/*-o-transition: all 0.5s ease-in-out;*/
/*-ms-transition: all 0.5s ease-in-out;*/
/*transition: all 0.5s ease-in-out;*/
/**/
/*}*/
/*div.stack-container card {*/
/*left: 12px;*/
/*top: 8px;*/
/*}*/
/*div.stack-container card:first-child {*/
/*left: 0px;*/
/*top: 0px;*/
/*}*/
/*div.stack-container card:nth-child(2) {*/
/*left: 3px;*/
/*top: 2px;*/
/*}*/
/*div.stack-container card:nth-child(3) {*/
/*left: 6px;*/
/*top: 4px;*/
/*}*/
/*div.stack-container.collapsed card {*/
/*left: 160px;*/
/*top: 0px;*/
/*}*/
/*div.stack-container.card-stack-collapsed card:first-child {*/
/*left: 0;*/
/*top: 0px;*/
/*}*/
/*div.stack-container.card-stack-collapsed card:nth-child(2) {*/
/*left: 70px;*/
/*top: 0px;*/
/*}*/
/*div.stack-container.card-stack-collapsed card:nth-child(3) {*/
/*left: 140px;*/
/*top: 0px;*/
/*}*/

/* end of css card animation*/

.position_relative {
  position: relative;
}

.game_buttons {
  top: 500px;
  position: relative;
  text-align: center;
}

.active_player {
  font-weight: bold;
  color: green;
}

.color_black {
  color: black;
}

.alertify .ajs-modal { /* overriding some code in alertify.js */
  z-index: 1000;
}
