<div ng-class="{ chat_overlay_absolute: overlay }">
  <div ng-class="{ chat_inner_absolute: overlay }" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div id="chat_body" ng-class="{ chat_body_absolute: overlay }" class="panel-body">
      <div ng-repeat="message in messages">
        <div class="row">
          <div class="col-lg-3">
            <!--<span>{{message.date.getHours()}}:{{message.date.getMinutes()}}</span>-->
            <span>{{message.date | date:'HH:mm'}}</span>
            <span ng-class="message.sender_color">{{message.sender}}</span>
          </div>
          <span class="word_break col-lg-9">{{message.message}}</span>
        </div>
      </div>

      <!--<form role="form">-->
      <!--<input type="text" ng-model="message">-->
      <!--<button ng-click="send_message(message)">senden</button>-->
      <!--</form>-->

    </div>
    <div id="chat_footer" ng-class="{ chat_footer_absolute: overlay }" class="panel-footer">
      <form role="form">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <input type="text" ng-model="message" class="form-control">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button ng-click="send_message(message)" class="btn btn-success">senden</button>
        </div>
        <div style="clear:both;"></div>
      </form>
    </div>
  </div>
</div>
