<button ng-click="to_main_route()" class="btn btn-default">Zurück</button>

{{user_money}}
{{pod}}
{{is_your_turn}}
{{all_user}}
<div class="position_relative">
  <!--<div ng-repeat="card in cards">-->
  <!--<card id="card_{{$index}}" flipped="{{card.flipped}}" color="{{card.color}}_{{card.value}}"></card>-->
  <!--</div>-->
  <div ng-repeat="card in hand_cards">
    <card id="hand_card_{{$index}}" flipped="{{card.flipped}}" color="{{card.color}}_{{card.value}}"></card>
  </div>
  <card flipped="false"></card>
</div>

<!--<button style="position: absolute; top: 250px; z-index: 10;" ng-click="add()">add</button>-->

<div class="game_buttons">
  <button class="btn btn-primary">Bet</button>
  <button class="btn btn-danger">Fold</button>
  <button class="btn btn-warning">Raise</button>
  <button class="btn btn-success">Call</button>
  <button class="btn btn-info">Check</button>
</div>

<div class="user_list_absolute panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Spielerliste</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="player in playersInGame.all">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-5">{{player.user_name}}</div>
          <div ng-show="player.small_blind" class="col-lg-1">
            <i class="fa fa-usd"></i>
          </div>
          <div ng-show="player.big_blind" class="col-lg-1">
            <i class="fa fa-btc"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<chat title="Raum Chat" overlay="true"></chat>
