<button ng-click="to_main_route()" class="btn btn-default">Zurück</button>

{{user_money}}
{{pod}}
{{is_your_turn}}
{{all_user}}
<div class="position_relative">
  <div ng-repeat="card in board_cards">
    <card id="card_{{$index}}" flipped="{{card.flipped}}" color="{{card.color}}_{{card.value}}"></card>
  </div>
  <div ng-repeat="card in hand_cards">
    <card id="hand_card_{{$index}}" flipped="{{card.flipped}}" color="{{card.color}}_{{card.value}}"></card>
  </div>
  <card flipped="false"></card>
</div>

<!--<button style="position: absolute; top: 250px; z-index: 10;" ng-click="add()">add</button>-->

<div class="game_buttons">
  <button ng-disabled="!available_actions.bet" ng-click="do_bet()" class="btn btn-primary">Bet</button>
  <button ng-disabled="!available_actions.fold" ng-click="do_fold()" class="btn btn-danger">Fold</button>
  <button ng-disabled="!available_actions.raise" ng-click="do_raise()" class="btn btn-warning">Raise</button>
  <button ng-disabled="!available_actions.call" ng-click="do_call()" class="btn btn-success">Call {{(call_value != 0 &&
    available_actions.call) ? '(' + call_value + ')' : ''}}
  </button>
  <button ng-disabled="!available_actions.check" ng-click="do_check()" class="btn btn-info">Check</button>
</div>

<div class="user_list_absolute panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Spielerliste</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="player in playersInGame.all">
      <div ng-class="{ active_player: player.is_active }" class="col-lg-12">
        <div class="row">
          <!-- username + small/big blind symbol -->
          <span style="line-height: 45px;" class="col-lg-6">{{player.user_name}} <i
            ng-class="{'fa-btc': player.big_blind, 'fa-usd': player.small_blind}" class="fa color_black"></i>
          </span>

          <div class="col-lg-6">
            <div class="row">
              <div style="z-index: 15;" class="mini-height col-lg-5 row" ng-repeat="card in player.hand_cards">
                <card sise="mini" flipped="{{card.flipped}}" color="{{card.color}}_{{card.value}}"></card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<chat title="Raum Chat" overlay="true"></chat>
