<div class="col-lg-12 col-md-12">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="margin-top:10%">

      <form name="customOptionsForm" ng-submit="submit()">
        <md-input-container>
          <label>Username</label>
          <input required name="username" ng-model="formData.username">

          <div ng-messages="customOptionsForm.username.$error">
            <div ng-message="required">Muss ausgefüllt sein.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Passwort</label>
          <input required name="password" ng-model="formData.password" type="password">

          <div ng-messages="customOptionsForm.password.$error">
            <div ng-message="required">Muss ausgefüllt sein.</div>
          </div>
        </md-input-container>
        <section layout="row" layout-align="center">
          <md-button ng-disabled="disabled" ng-click="register_user()" type="button" class="md-raised">
            Registrieren
          </md-button>
          <md-button ng-disabled="disabled" class="md-raised md-primary">Login</md-button>
        </section>
      </form>

    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
