<md-dialog flex="50" aria-label="Registrieren">
  <form name="registerForm" ng-submit="ok()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Registrieren</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_clear_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="formData.email">

        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">Muss ausgefüllt sein.</div>
          <div ng-message="email">Bitte gültige Email eingeben.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Username</label>
        <input required name="username" ng-model="formData.username">

        <div ng-messages="registerForm.username.$error">
          <div ng-message="required">Muss ausgefüllt sein.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Passwort</label>
        <input required name="password" ng-model="formData.password" type="password">

        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">Muss ausgefüllt sein.</div>
        </div>
      </md-input-container>

    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary">
        Abbrechen
      </md-button>
      <md-button class="md-primary">
        Registrieren
      </md-button>
    </div>
  </form>
</md-dialog>
