<!-- create json part -->
<div class="col-lg-6">
  <div class="row">
    <div class="json_value col-lg-12">
      <div class="row">
        <button ng-click="add_json_value()">paar anfügen</button>
        <button ng-click="set_login_json()">set to login</button>
        <button ng-click="send_json()">senden</button>
        <span>Socket Status: </span><i class="fa fa-circle" ng-class="status_classes[status]"></i>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="json_value">
            <span class="col-lg-2" style="margin-top: 3px;">Event: </span>

            <div class="col-lg-10">
              <input ng-model="json_event">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div ng-repeat="value in json_values" class="col-lg-12">
            <div class="row">
              <div class="col-lg-2" ng-if="$index != 0"></div>
              <div style="margin-top: 8px;" class="col-lg-2" ng-if="$index == 0">Body:</div>
              <div class="col-lg-10">
                <input class="json_value" ng-model="value[0]"/>
                <input ng-model="value[1]"/>
                <button ng-if="json_values.length != 1" ng-click="remove_json_value($index)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- log answers part -->
<div class="col-lg-6">
  <div class="row">
    <div class="col-lg-12" ng-repeat="message in messages">
      <div class="row">
        <hr style="margin-bottom: 5px; margin-top: 5px;">
        <strong>{{message.event}}:</strong>
        <span>{{message.message}}</span>
        <span>{{message.body}}</span>
      </div>
    </div>
  </div>
</div>
